@import '../styles/variables.scss';

.banner {
  height: 600px;
  background-image: url('../public/images/greengrass4.jpeg');
  background-size: cover;
  border: dotted 1px #333;
}

.cta {
  background-color: $base-color;
  min-height: 6.5rem;
  text-align: right;

  .action {
    position: relative;
    padding: 1rem 1rem 1rem 2.5rem;
    margin: 0 .25rem;
    text-decoration: none;
    background-color: $base-light;
    border-radius: .5rem;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold ;
    overflow: hidden;
    display: table-cell;
    float: right;   
    &:hover{
      background-color: #FFF;
      color: $base-color;
    }
    i{
      position: absolute;
      width: 4rem;
      font-size: 3rem;
      top: .5rem;
      left: -2rem;
      transform: scale(1);
      color: $base-highlight;
    }
  }
}